<script>
import { onMount } from 'svelte';
import * as Mousetrap from 'mousetrap';
import { remote } from 'electron';

const { game, conf, loader, engine } = require('./scene-loader');
const { bdlfContext, start } = loader(engine, conf);

let svelteContext = game;
let noParams = ['id', 'bdlname', 'attributes', 'slots', 'default'];

function filterParams(character) {
	let params = character.params ? character.params : Object.keys(character);
	return params.filter(f => !noParams.includes(f)).map(p => ({ [p]: character[p] })).reduce((r,a) => ({...r, ...a}), {})
}

game.__proto__.toString = function() {
	return JSON.stringify(this, null, 2);
}

const dialog = {
	line: 256,
	name: 'mkx',
	index: 2,
	lines: [
		'# Метка',
		'if 2',
		';; Игровой контекст<button style="display: none;" class="save-scene-button"',
	],
};

const eesama = bdlfContext.eesama;
eesama.on('line', ({ position, line }) => {
	dialog.line = line;
});

eesama.on('dialog', ({ name, lines }) => {
	dialog.name = name;
	dialog.lines = lines;
});

let skipping = null;

function startSkip() {
	if (skipping) {
		return;
	}
	let skipSpeed = 50;
	switch(engine.appSettings.current.skipSpeed) {
		case 'slow':
		skipSpeed = 200;
		break;
		case 'medium':
		skipSpeed = 50;
		break;
		case 'fast':
		skipSpeed = 10;
		break;
	}
	console.log(`startSkipping with speed ${skipSpeed}`);
	skipping = setInterval(() => {
		if (skipping && !bdlfContext.activeMenu) {
			bdlfContext.nextRun();
		}
	}, skipSpeed);
}

function stopSkip() {
	console.log('stopSkipping');
	clearInterval(skipping);
	skipping = null;
}

function toggleStop() {
	if (skipping) {
		stopSkip();
	} else {
		startSkip();
	}
}

function getGameContext() {
	svelteContext = {
		...engine.game,
		Shao: filterParams(engine.game.Shao),
		Sonya: filterParams(engine.game.Sonya),
		Kitana: filterParams(engine.game.Kitana),
		Raiden: filterParams(engine.game.Raiden),
	};
}

function saveLoadMenu() {
	if (bdlfContext.engine.application.scene.children[0].constructor.name == 'Dialog') {
		bdlfContext.pushScene('SaveLoad');
	}
}

onMount(async () => {
	engine.application.ready();
	start();
	global.context = { game, conf, loader, engine, bdlfContext };
	remote.getCurrentWindow().maximize();
});

Mousetrap.bind('ctrl', startSkip, 'keydown');
Mousetrap.bind('ctrl', stopSkip, 'keyup');
Mousetrap.bind('esc', saveLoadMenu);
</script>

<section id="canvas">
</section>

<div id="vue-container">
	<section id="objects">
		<h1 class="caption">Игровой контекст<button style="display: none;" class="save-scene-button"><span></span></button> <button style="display: none;"
				class="display-settings-button"><span></span></button> <button
				class="skipButton" on:click={startSkip}>Начать пропуск</button></h1>
		<pre class="gcx"
			on:click={getGameContext}>{@html svelteContext || "Нажми сюда для \nполучения игрового контекста" }</pre>
	</section>

	<section id="properties">
		<h1 class="caption">Активный диалог <span class="object-type">{ dialog.line } | { dialog.name }</span>
		</h1>
		<table class="property_grid">
			<tbody>
				{#each dialog.lines as property, index}
				<tr class="property"
					class:labelLine={ property.startsWith('#') } class:active={ dialog.line == (index + 1) }
					id={'LINE' + (index + 1)}>
					{#if !property.startsWith('#') && !property.startsWith(';;')}
						<td class="property__line">	{ index + 1 }</td>
					{:else}
						<td class="property__line">{ property.slice(0, 2).trim() }</td>
					{/if}
					{#if property.startsWith(';;')}
						<td class="property__comment">{ property.slice(2) }</td>
					{:else if property.endsWith(':')}
						<td class="property__character">{ property }</td>
					{:else if property.startsWith('-')}
						<td class="property__replica">{ property }</td>
					{:else if property.startsWith('/')}
						<td class="property__menu">
						<b>{ property.split(' => ')[0] }</b>{ property.includes(' => ') ? ` => ${property.split(' => ')[1]}` : '' }
						</td>
					{:else if property.startsWith('#')}
						<td class="property__text">&nbsp;{ property.slice(1).trim() }
						</td>
					{:else}
						<td v-else class="property__text">{ property }</td>
					{/if}
				</tr>
				{/each}
			</tbody>
		</table>
	</section>
</div>