* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	height: calc(100vh - 5px);
	overflow: hidden;
}

body {
	display: grid;
	grid-template-columns: auto 300px;
	grid-template-rows: 50% 50%;
	grid-gap: 6px;

	background-color: #35496a;
	font-family: Consolas;
	padding: 6px;
}

#canvas {
	grid-row: 1 / span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#objects {
	grid-column: 2;
	grid-row: 1;
	background-color: lightgray;
	border: 1px solid #8e9bbc;
}

#properties {
	grid-column: 2;
	grid-row: 2;
	border: 1px solid #8e9bbc;
	background-color: white;
}

.caption {
	font-size: 12px;
	color: white;
	font-weight: normal;
	height: 21px;
	display: flex;
	align-items: center;
	background-color: #4d6082;
	margin: 0;
	padding: 0 4px;
	user-select: none;
	justify-content: space-between;
}

.hidden {
	display: none;
}

.hidden-place {
	visibility: hidden;
}

.property_grid {
	display: block;
	list-style: none;
	padding: 0;
	height: calc(100% - 21px);
	overflow-y: scroll;
}

.property {
	/* display: flex; */
	/* align-items: start; */
	height: auto;
	font-size: 13px;
	background-color: #eeeef2;
	user-select: none;
}

.property>* {
	box-sizing: border-box;
}

.property.active>td {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.property__line {
	background-color: lightgray;
	text-align: center;
	vertical-align: top;
	pointer-events: none;
}

.property__comment {
	color: green;
}

.property__character {
	background-color: #928c8c;
	color: white;
	padding-left: 7px;
}

.property__replica {
	padding-left: 7px;
}

.property__text {}

.property__title {
	padding: 0 3px;
	width: 50%;
	border-right: 1px solid #eeeef2;
	border-bottom: 1px solid #eeeef2;
	background-color: white;
	height: 100%;
}

.property__value {
	font-weight: bold;
	width: 50%;
	padding: 0 3px;
	border-bottom: 1px solid #eeeef2;
	background-color: white;
	height: 100%;
}

.property__value.--text {
	padding: 0;
}

.property__value.--text input {
	width: 100%;
	border: 0;
	outline: none;
	font-weight: bold;
	font-size: 13px;
	line-height: 17px;
	padding: 0 3px;
}

.property__more {
	margin: 0 5px;
}

.property:first-child {
	border-top: 1px solid #eeeef2;
}

.labelLine {
	background-color: #a268bf;
	color: white;
}

.labelLine>.property__line {
	background-color: #a268bf;
}

.objectinfo {
	background-color: white;
	color: black;
	display: flex;
	overflow: hidden;
	padding: 0 3px;
}

.objectinfo__name {
	font-weight: bold;
	margin-right: 8px;
}

.object-type {
	right: 10px;
	position: absolute;
}

#vue-container {
	display: contents;
}

.object {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.object__icon {
	background-size: contain;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	user-select: none;
}

.controls {
	padding-left: 21px;
	list-style: none;
}

/* .objects > li > ul {
		padding-left: 0;
	} */

.object__expand {
	border: 1px solid black;
	display: table;
	width: 10px;
	height: 10px;
	line-height: 8px;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
	user-select: none;
}

.objects {
	overflow: auto;
	height: calc(100% - 21px);
}

.object__line {
	width: 1px;
	background-color: black;
}

.object__name {
	cursor: pointer;
	position: absolute;
	margin-left: 41px;
	width: 100%;
}

.--fixed {
	background-color: #b0c3a6;
}

.--selected {
	background-color: #c5c577;
}

.objects__new-button {
	background-color: #535396;
	outline: none;
	border: 1px solid white;
	color: white;
	padding: 1px 5px;
	box-sizing: border-box;
	font-size: 12px;
	margin-top: -1px;
	cursor: pointer;
	margin-right: -1px;
	right: 10px;
	position: absolute;
}

.new-object {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-object__background {
	background-color: #867f7f;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.new-object__window {
	position: absolute;
	width: 500px;
	height: 250px;
	background-color: lightgray;
	border: 1px solid #8e9bbc;
}

.ok-button {
	background-color: #3b9061;
	outline: none;
	border: 1px solid white;
	color: white;
	padding: 1px 5px;
	box-sizing: border-box;
	font-size: 12px;
	margin-top: -1px;
	cursor: pointer;
	right: 1px;
	position: absolute;
}

.new-object__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.new-object-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 60px;
	cursor: pointer;
}

.new-object-type:hover {
	background-color: #b5b56c;
	color: white;
}

.new-object-type.--selected {
	background-color: #3b9061;
	color: white;
}

.new-object-type__icon {
	width: 28px;
	height: 28px;
	background-size: contain;
}

.new-object-type__title {
	text-transform: capitalize;
}

.selected_object_type {
	position: absolute;
	padding: 10px;
	bottom: 0px;
	background-color: #afafaf;
}

.place_to_object {
	padding-top: 5px;
	padding-left: 10px;
}

.display-settings-button {
	background-color: maroon;
	outline: none;
	border: 1px solid white;
	color: white;
	padding: 1px 5px;
	box-sizing: border-box;
	font-size: 12px;
	margin-top: -1px;
	cursor: pointer;
	margin-right: -1px;
	right: 128px;
	position: absolute;
	width: 24px;
	height: 18px;
}

.display-settings-button>span {
	background-image: url(../icons/Settings.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	width: 100%;
	height: 100%;
	filter: invert(100%);
	margin-top: 1px;
}

.save-scene-button {
	background-color: #2f2fab;
	outline: none;
	border: 1px solid white;
	color: white;
	padding: 1px 5px;
	box-sizing: border-box;
	font-size: 12px;
	margin-top: -1px;
	cursor: pointer;
	margin-right: -1px;
	right: 156px;
	position: absolute;
	width: 24px;
	height: 18px;
}

.save-scene-button>span {
	background-image: url(../icons/Save.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	width: 100%;
	height: 100%;
	filter: invert(100%);
	margin-top: 1px;
}

.scene_settings {
	position: absolute;
	height: auto;
	background-color: white;
	margin-left: 5%;
	border: 1px solid #bababa;
	padding: 3px 0;
	font-size: 12px;
	font-family: "Segoe UI";
	user-select: none;
}

.scene_settings__list {
	list-style: none;
}

.scene_settings__list>li {
	height: 24px;
	padding-left: calc(25px + 3px);
	padding-right: 22px;
	display: flex;
	align-items: center;
}

.scene_settings__list>li:hover {
	background-color: #ebebeb;
	cursor: default;
}

.scene_settings__list .separator {
	height: 1px;
	background-color: #ebebeb;
	box-sizing: content-box;
	border: 5px solid white;
	display: block;
}

#main {
	background: repeating-linear-gradient(45deg,
			#606dbc,
			#606dbc 10px,
			#465298 10px,
			#465298 20px);
}


.select-asset {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.select-asset__background {
	background-color: #867f7f;
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.select-asset__window {
	position: absolute;
	width: 500px;
	height: 250px;
	background-color: lightgray;
	border: 1px solid #8e9bbc;
	overflow: auto;
}


.select-asset__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.select-asset-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 60px;
	cursor: pointer;
}

.select-asset-type:hover {
	background-color: #b5b56c;
	color: white;
}

.select-asset-type.--selected {
	background-color: #3b9061;
	color: white;
}

.select-asset-type__icon {
	width: 28px;
	height: 28px;
	background-size: contain;
}

.select-asset-type__title {
	text-transform: capitalize;
}

.select-asset__object {
	width: 100px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 5px;
	cursor: pointer;
}

.select-asset__list {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	list-style: none;
}

.skipButton {
	font-size: 10px;
	background-color: #5785ad;
	border: 1px solid white;
	color: whitesmoke;
	padding: 2px 5px;
	margin-left: 10px;
}

.gcx {
	width: 100%;
	height: calc(100% - 20px);
	padding: 10px;
	cursor: pointer;
	overflow: auto;
	user-select: none;
}