<script>
import { onMount } from 'svelte';
import * as Mousetrap from 'mousetrap';
import { remote } from 'electron';

const { game, conf, loader, engine } = require('./scene-loader');
const { bdlfContext, start } = loader(engine, conf);

let skipping = null;

function startSkip() {
	if (skipping) {
		return;
	}
	let skipSpeed = 50;
	switch(engine.appSettings.current.skipSpeed) {
		case 'slow':
		skipSpeed = 200;
		break;
		case 'medium':
		skipSpeed = 50;
		break;
		case 'fast':
		skipSpeed = 10;
		break;
	}
	console.log(`startSkipping with speed ${skipSpeed}`);
	skipping = setInterval(() => {
		if (skipping && !bdlfContext.activeMenu) {
			bdlfContext.nextRun();
		}
	}, skipSpeed);
}

function stopSkip() {
	console.log('stopSkipping');
	clearInterval(skipping);
	skipping = null;
}

function toggleStop() {
	if (skipping) {
		stopSkip();
	} else {
		startSkip();
	}
}

function saveLoadMenu() {
	if (bdlfContext.engine.application.scene.children[0].constructor.name == 'Dialog') {
		bdlfContext.pushScene('SaveLoad');
	}
}

onMount(async () => {
	engine.application.ready();
	start();
	global.context = { game, conf, loader, engine, bdlfContext };
	remote.getCurrentWindow().maximize();
});

Mousetrap.bind('ctrl', startSkip, 'keydown');
Mousetrap.bind('ctrl', stopSkip, 'keyup');
Mousetrap.bind('esc', saveLoadMenu);
</script>

<section id="canvas">
</section>


<style>
:global(body) {
    display: block;
    width: 100vw;
    height: 100vh;
	padding: 0;
	margin: 0;
}    

#canvas {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
#canvas > :global(canvas) {
	width: 100vw;
	height: 100vh;
	background: none;
}
</style>